.panel {
  margin-bottom: 20px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
  border-radius: 4px;
}
.panel-default > .panel-heading {
  color: #1ab2ff;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #121212;
}
.panel-footer {
  color: #1ab2ff;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
}

.panel-btn {
  background: #428bca;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  float: right;
  height: 41px;
  position: relative;
  top: -10px; right: -15px;
  border-bottom: 1px solid #121212;
}

.panel-btn a {
  color: #000;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 41px;
  display: block;
}

.list-group-item {
  background: transparent;
  border: 1px solid #121212;
}
.list-group-item a {
  display: block;
}
.list-group-item:hover {
  background: #428bca;
}
.list-group-item:hover a {
  color: #000;
  text-decoration: none;
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: 34px;
}

.table>thead>tr>th {
  border-bottom: 2px solid #121212;
}
.table>tbody>tr>td {
  border-top: 1px solid #121212;
}

.btn-inverse {
  background-color: #363636;
  color: #C6C6C6;
}