body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #ffffff;
  background-color: #000000;
}
hr {
  background-image: -webkit-linear-gradient(right,#000000 0%,#31bdd1 50%,#000000 100%);
  background-image: -moz-linear-gradient(right,#000000 0%,#31bdd1 50%,#000000 100%);
  background-image: -o-linear-gradient(right,#000000 0%,#31bdd1 50%,#000000 100%);
  background-image: -ms-linear-gradient(right,#000000 0%,#31bdd1 50%,#000000 100%);
  background-image: -linear-gradient(right,#000000 0%,#31bdd1 50%,#000000 100%);
  border: none;
  height: 1px;
}
#content {
  margin: 0px 5%;
}
.img-polaroid {
  padding: 2px;
  background-color: #000;
}
a {
  color: #31bdd1;
}
a:visited {
  color: #218694;
}
.boardLink {
  text-align: left !important;
  vertical-align: middle !important;
}
.boardLink a {
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
}
.boardLink a:hover {
  text-decoration: underline;
}
.pagination {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #31bdd1;
}
.text-primary {
  color: #31bdd1;
}
.text-info {
  color: #5bc0de !important;
}
.text-success {
  color: #62c462 !important;
}
.text-warning {
  color: #fbb450 !important;
}
.text-error {
  color: #ee5f5b !important;
}
.help-primary {
  color: #31bdd1;
}
.text-disabled {
  color: #aaa !important;
}
.text-middle {
  vertical-align: middle !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.hide {
  display: none;
}
.page-header {
  border-bottom: 1px solid #eeeeee;
}
.well hr {
  border: none;
  height: 1px;
  background-image: -webkit-linear-gradient(right,#232728 0%,#31bdd1 50%,#232728 100%);
  background-image: -moz-linear-gradient(right,#232728 0%,#31bdd1 50%,#232728 100%);
  background-image: -o-linear-gradient(right,#232728 0%,#31bdd1 50%,#232728 100%);
  background-image: -ms-linear-gradient(right,#232728 0%,#31bdd1 50%,#232728 100%);
  background-image: -linear-gradient(right,#232728 0%,#31bdd1 50%,#232728 100%);
}
.well .well-title {
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  background: #31bdd1;
  color: #000;
  position: relative;
  top: -17px;
  left: -17px;
  right: -17px;
  width: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 2px solid #000;
  margin-right: -34px;
  display: block;
}
.well .well-title-bottom {
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  background: #31bdd1;
  color: #000;
  position: relative;
  bottom: -18px;
  left: -17px;
  right: -17px;
  width: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border-top: 2px solid #000;
  margin-right: -34px;
  display: block;
  height: 20px;
}
.well .well-title-info {
  background: #9081b0;
}
.well .well-title-success {
  background: #88b081;
}
.well-small .well-title {
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  background: #31bdd1;
  color: #000;
  position: relative;
  top: -7px;
  left: -7px;
  right: -7px;
  width: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 2px solid #000;
  margin-right: -14px;
  display: block;
}
.well-small .well-title-bottom {
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  background: #31bdd1;
  color: #000;
  position: relative;
  bottom: -8px;
  left: -7px;
  right: -7px;
  width: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border-top: 2px solid #000;
  margin-right: -14px;
  display: block;
  height: 20px;
}
.well-title a,
.well-title-bottom a {
  color: #000;
}
.well-btn {
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  background: #134e56;
  color: #000;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0px 10px;
}
.well-btn:hover {
  background: #6e9da4;
}
.well-btn a {
  color: #000;
}
.well-btn-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.well-btn-left {
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.well-btn-danger {
  background: #5b1418;
}
.well-btn-danger:hover {
  background: #aa7f6e;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #000000;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #31bdd1;
  border: 1px solid #31bdd1;
  vertical-align: middle !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(49,189,209,0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(167,195,199,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(167,195,199,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(167,195,199,0.6);
  vertical-align: middle !important;
}
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  vertical-align: top;
}
.input-append .uneditable-input[class*="span"],
.input-prepend .uneditable-input[class*="span"] {
  display: inline-block;
}
.control-group.primary .control-label,
.control-group.primary .help-block,
.control-group.primary .help-inline {
  color: #31bdd1;
}
.control-group.primary .checkbox,
.control-group.primary .radio,
.control-group.primary input,
.control-group.primary select,
.control-group.primary textarea {
  color: #31bdd1;
}
.control-group.primary input,
.control-group.primary select,
.control-group.primary textarea {
  border-color: #31bdd1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  vertical-align: middle !important;
}
.control-group.primary input:focus,
.control-group.primary select:focus,
.control-group.primary textarea:focus {
  border-color: #3b595d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #a0bfc4;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #a0bfc4;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #a0bfc4;
  vertical-align: middle !important;
}
.control-group.primary .input-prepend .add-on,
.control-group.primary .input-append .add-on {
  color: #31bdd1;
  background-color: #fcf8e3;
  border-color: #31bdd1;
  vertical-align: middle !important;
}
.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #5bc0de;
}
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #5bc0de;
}
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #5bc0de;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  vertical-align: middle !important;
}
.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #163046;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #5d9acb;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #5d9acb;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #5d9acb;
  vertical-align: middle !important;
}
.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #5bc0de;
  background-color: #fcf8e3;
  border-color: #5bc0de;
  vertical-align: middle !important;
}
.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #fbb450;
}
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #fbb450;
}
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #fbb450;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  vertical-align: middle !important;
}
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #653b0d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #e9a255;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #e9a255;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #e9a255;
  vertical-align: middle !important;
}
.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #fbb450;
  background-color: #fcf8e3;
  border-color: #fbb450;
  vertical-align: middle !important;
}
.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #62c462;
}
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #62c462;
}
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #62c462;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  vertical-align: middle !important;
}
.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #276627;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #87d287;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #87d287;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #87d287;
  vertical-align: middle !important;
}
.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #62c462;
  background-color: #fcf8e3;
  border-color: #62c462;
  vertical-align: middle !important;
}
.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #ee5f5b;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #ee5f5b;
}
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #ee5f5b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  vertical-align: middle !important;
}
.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #461816;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #cb615d;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #cb615d;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #cb615d;
  vertical-align: middle !important;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #ee5f5b;
  background-color: #fcf8e3;
  border-color: #ee5f5b;
  vertical-align: middle !important;
}
table > caption {
  color: #31bdd1;
  font-weight: bold;
  letter-spacing: 2px;
}
.table.table-inner th,
.table.table-inner td {
  border-top: none;
}
.table .text-center td {
  text-align: center !important;
}
.table.table-inner {
  padding: 0;
  margin: 0;
}
.table tbody tr.error > td {
  background-color: #461816;
}
.table tbody tr.error:hover > td {
  background-color: #6d2522;
}
.table tbody tr.info > td {
  background-color: #163046;
}
.table tbody tr.info:hover > td {
  background-color: #224b6d;
}
.table tbody tr.success > td {
  background-color: #276627;
}
.table tbody tr.success:hover > td {
  background-color: #348c34;
}
.table tbody tr.warning > td {
  background-color: #653b0d;
}
.table tbody tr.warning:hover > td {
  background-color: #925513;
}
.table tbody tr.primary > td {
  background-color: #3b595d;
}
.table tbody tr.primary:hover > td {
  background-color: #4e777d;
}
td {
  vertical-align: middle !important;
}
.btn {
  color: #ffffff !important;
  background-image: -moz-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -ms-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),to(#e6e6e6));
  background-image: -webkit-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: -o-linear-gradient(top,#ffffff,#e6e6e6);
  background-image: linear-gradient(top,#ffffff,#e6e6e6);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  text-shadow: none;
}
.btn-primary,
.fuelux .btn-primary {
  background-color: #134e56 !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#31bdd1,#134e56);
  background-image: -ms-linear-gradient(top,#31bdd1,#134e56);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#31bdd1),to(#134e56));
  background-image: -webkit-linear-gradient(top,#31bdd1,#134e56);
  background-image: -o-linear-gradient(top,#31bdd1,#134e56);
  background-image: linear-gradient(top,#31bdd1,#134e56);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #134e56;
}
.btn-warning {
  background-color: #ae6704 !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#fbb450,#ae6704);
  background-image: -ms-linear-gradient(top,#fbb450,#ae6704);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#ae6704));
  background-image: -webkit-linear-gradient(top,#fbb450,#ae6704);
  background-image: -o-linear-gradient(top,#fbb450,#ae6704);
  background-image: linear-gradient(top,#fbb450,#ae6704);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #ae6704;
}
.btn-danger {
  background-color: #9f1411 !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#ee5f5b,#9f1411);
  background-image: -ms-linear-gradient(top,#ee5f5b,#9f1411);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#9f1411));
  background-image: -webkit-linear-gradient(top,#ee5f5b,#9f1411);
  background-image: -o-linear-gradient(top,#ee5f5b,#9f1411);
  background-image: linear-gradient(top,#ee5f5b,#9f1411);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #9f1411;
}
.btn-success {
  background-color: #276627 !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#62c462,#276627);
  background-image: -ms-linear-gradient(top,#62c462,#276627);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#276627));
  background-image: -webkit-linear-gradient(top,#62c462,#276627);
  background-image: -o-linear-gradient(top,#62c462,#276627);
  background-image: linear-gradient(top,#62c462,#276627);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #276627;
}
.btn-info {
  background-color: #1b6d85 !important;
  color: #ffffff;
  background-image: -moz-linear-gradient(top,#5bc0de,#1b6d85);
  background-image: -ms-linear-gradient(top,#5bc0de,#1b6d85);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#1b6d85));
  background-image: -webkit-linear-gradient(top,#5bc0de,#1b6d85);
  background-image: -o-linear-gradient(top,#5bc0de,#1b6d85);
  background-image: linear-gradient(top,#5bc0de,#1b6d85);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #1b6d85;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px,0) scale(4);
  direction: ltr;
}
.nav-tabs.nav-stacked {
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0,0,0,0.3);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav-tabs.nav-stacked li.active a {
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  background: #31bdd1;
  color: #000;
  font-weight: bold;
  margin: 0px 1px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.nav-tabs.nav-stacked li.active a:hover {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.nav-tabs.nav-stacked li a {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.nav-tabs.nav-stacked li a:hover {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.nav-stacked .nav-title {
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  background: #31bdd1;
  color: #000;
  position: relative;
  top: 0px;
  width: auto;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  border: 2px solid #000;
  display: block;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > a:hover {
  border: none;
}
.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #727272;
}
.navbar .divider-vertical {
  height: 41px;
}
.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #666666;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border: 0;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.nav-header {
  color: #5bc0de;
  background-color: rgba(0,0,0,0.5);
  text-shadow: none;
}
.nav li + .nav-header {
  margin-top: 0;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #594d4d;
}
.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success,
.alert-success .alert-heading {
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info,
.alert-info .alert-heading {
  color: #3a87ad;
}
.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #ffffff;
  background-color: #5e8f96;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.label-important {
  background-color: #7d1b20 !important;
}
.progress-striped .bar {
  background-color: #31bdd1;
  background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  color: #000;
}
.badge-important {
  background-color: #ba403b;
}
#utopian-navigation > li.active > a,
#utopian-navigation > li.active > a:hover {
  color: #64a6b0;
}
.fuelux .wizard {
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, rgba(0,0,0,0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0,0,0,0.3);
  border: 0;
  height: 46px;
}
.fuelux .wizard ul li {
  height: 45px;
  background: transparent;
}
.fuelux .wizard ul li .chevron {
  position: absolute;
  top: 0;
  right: -14px;
  display: block;
  border: 23px solid transparent;
  border-right: 0;
  border-left: 14px solid #000;
}
.fuelux .wizard ul li .chevron:before {
  position: absolute;
  top: -22px;
  right: 3px;
  display: block;
  border: 22px solid transparent;
  border-right: 0;
  border-left: 11px solid #232728;
  content: "";
}
.fuelux .wizard ul li.complete {
  color: #62c462;
  background: #134e56;
}
.fuelux .wizard ul li.complete:hover {
  cursor: pointer;
  background: #134e56;
}
.fuelux .wizard ul li.complete:hover .chevron:before {
  border: 23px solid transparent;
  border-right: 0;
  border-left: 11px solid #134e56;
}
.fuelux .wizard ul li.complete .chevron:before {
  border-left: 11px solid #134e56;
}
.fuelux .wizard ul li.active {
  background: #31bdd1;
  color: #fff;
}
.fuelux .wizard ul li.active .chevron:before {
  border-left: 11px solid #31bdd1;
}
.editable-click,
a.editable-click,
a.editable-click:hover {
  border-bottom: none !important;
}
ul.messenger.messenger-fixed.messenger-on-top,
ul.messenger.messenger-fixed.messenger-on-bottom {
  margin-top: 50px;
}
ul.jqtree-tree .jqtree-toggler {
  color: #5bc0de;
}
ul.jqtree-tree .jqtree-toggler:hover {
  color: #31bdd1;
  text-decoration: none;
}
ul.jqtree-tree .jqtree-title {
  color: #31bdd1;
}
